# Ignore .txt files
*.txt

# Ignore object files
*.o

# Ignore C++ WSL executable
/Question 4/Calculator/client
/Question 4/Calculator/server
/Question 4/Registration/server
/Question 4/Registration/client
/Question 4/Test
/Question 1/3Concurrent-Connectionless/client
/Question 1/3Concurrent-Connectionless/server

tempCodeRunnerFile.cpp